.subscribe_quick dt, .subscribe_quick dd{float:left;}
.subscribe_quick {padding:10px; }
.subscribe_quick input[type=submit] {background-image: url('../images/signup-button.png'); background-repeat: no-repeat; width:80px; border: none; background-color: transparent; line-height:25px; font-size: .01em; text-indent: -99999px;}
.subscribe_quick input[type=text] {margin:2px;}
.subscription_bottom {margin: 0px 10% 0px 35%; border-color: #4150BE; border-width: 2px;}
.subscriptionThank {clear:left; padding: 0px; margin-left: 10px; }

.icon-48-ChimpMail { background-image: url('../images/logo.png');}