<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');
?>
<div id="cpanel"><?php if($this->menuItems !== NULL) {
        foreach($this->menuItems as $menuItem) {
            $this->quickIcon( $menuItem['link'], $menuItem['icon'], JText::_( $menuItem['text'] ) );
        }
    }
?></div>
<div class="clr"></div>
<div class="buttons">
    <a href="<?php echo $this->Jurl(array(
                        'module'=>'Admin',
                        'controller'=>'index',
                        'action'=>'index',
                    ),'administrator',false);
            ?>" class="ui-button ui-corner-all ui-state-default paging_full_numbers">
            Back
    </a>
</div>