<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');
?>
<!--<div id="mc_embed_signup">
    <form action="<?php echo $_SERVER['PHP_SELF'];?>" method="post" 
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <fieldset>
            <legend style="white-space:normal"><span>join our mailing list</span></legend>
            <div class="indicate-required">* indicates required</div>
            <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address <strong class="note-required">*</strong>
            </label>
            <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
        </fieldset>
    </form>
</div>-->
