<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');

if (isset($this->form)) {
    echo $this->form;
}
if ($this->subscribers !=NULL): 
    $this->DataTables('.adminlist');?>
<div class="ui-widget-content">
    <table class="adminlist" cellspacing="1">
    <thead>
        <tr>
            <th width="5%">
                id
            </th>
            <th width="15%">
                Last Name
            </th>
            <th width="15%">
                First Name
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($this->subscribers as $subscriber):
            $params = json_decode($subscriber->params);
            $addParams = json_decode($params->addparams);?>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <?php endforeach;?>
    </tbody>
    </table>
</div>
<?php else:?>
<p>No one has subscribed to this list.</p>
<?php endif;