<div class="ui-widget-content ui-corner-all subscription_bottom">
<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');

if (isset($this->form)) {
    echo $this->form;
}
if(strlen($this->thank)>0):
    ?><div class="subscriptionThank"><?php echo $this->thank;?></div><?php
endif;
?><div class='clr'>&nbsp;</div>
</div>